# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Build directory
build

# Editor's config directories
.vscode
.idea

# MacOS related files
*.DS_Store
.AppleDouble
.LSOverride
._*

# Windows related files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Optional npm cache directory
.npm